***1. Write a program to accept two numbers from the user and calculate multiplication.***

In [ ]:
a=int(input("Enter the first  number :"))
b=int(input("Enter the second number :"))
print("The product is :",a*b)

Enter the first  number :5
Enter the second number :6
The product is : 30

***2. Print all prime numbers with in an interval***

In [ ]:
a=int(input("Enter the lower limit :"))
b=int(input("Enter the upper limit :"))
for i in range(a,b+1) :
  for j in range(2,i):
    if (i%j==0) :
      break
  else :
    print(i)

Enter the lower limit :6
Enter the upper limit :50
7
11
13
17
19
23
29
31
37
41
43
47

***3. Search an element in a list***

In [ ]:
n=int(input("Enter size of the list :"))
list=[]
flag=0
print("Enter the elements :")
for i in range(n):
    a=int(input())
    list.append(a)
key=int(input("Enter element to be searched :"))
for j in range(n):
  if(list[j]==key) :
    print("Element found at position",i)
    flag=1
    break
if(flag==0) :
  print("The element is not found")

Enter size of the list :6
Enter the elements :
1
3
4
5
6
7
Enter element to be searched :6
Element found at position 5

***4. Find the number of occurrences of a given substring in a string.***

In [ ]:
str = (input('Enter the string: '))
f = input('Enter the substring: ')
print('The number of occurences: ',str.count(f))

Enter the string: india is my country india is beautiful
Enter the substring: india
The number of occurences:  2

***5. Implements calculator with functions like add, subtract, multiply, divide, exponent etc.***

In [ ]:
def add(a,b) :
  print("The sum is :",a+b)

def subtract(a,b) :
  print("The difference is :",a-b)

def multiply(a,b) :
  print("The product is :",a*b)

def exponent(a,b) :
  print("The result is :",a**b)

def divide(a,b) :
  print("The quiotent is :",a/b)


while True :
  print("**************************")
  print("******* Calculator *******")
  print("**************************")
  print("\t1.Addition\n\t2.Subtraction\n\t3.Multiply\n\t4.Exponent\n\t5.Divide\n\t6.Exit")
  print("**************************\n")
  ch=int(input("Enter your choice :"))
  if(ch==6) :
    print("Thank you !!!!!")
    break
  a=float(input("Enter the first number :"))
  b=float(input("Enter the second number :"))
  if(ch==1) :
    add(a,b)
  elif(ch==2) :
    subtract(a,b)
  elif(ch==3):
    multiply(a,b)
  elif(ch==4) :
    exponent(a,b)
  elif(ch==5) :
    divide(a,b)
  else :
    print("Wrong input")

**************************
******* Calculator *******
**************************
	1.Addition
	2.Subtraction
	3.Multiply
	4.Exponent
	5.Divide
	6.Exit
**************************

Enter your choice :2
Enter the first number :5
Enter the second number :4
The difference is : 1.0
**************************
******* Calculator *******
**************************
	1.Addition
	2.Subtraction
	3.Multiply
	4.Exponent
	5.Divide
	6.Exit
**************************

Enter your choice :3
Enter the first number :4
Enter the second number :4
The product is : 16.0
**************************
******* Calculator *******
**************************
	1.Addition
	2.Subtraction
	3.Multiply
	4.Exponent
	5.Divide
	6.Exit
**************************

Enter your choice :4
Enter the first number :2
Enter the second number :2
The result is : 4.0
**************************
******* Calculator *******
**************************
	1.Addition
	2.Subtraction
	3.Multiply
	4.Exponent
	5.Divide
	6.Exit
**************************

Enter your choice :5
Enter the first number :8
Enter the second number :2
The quiotent is : 4.0
**************************
******* Calculator *******
**************************
	1.Addition
	2.Subtraction
	3.Multiply
	4.Exponent
	5.Divide
	6.Exit
**************************

Enter your choice :6
Thank you !!!!!

***6. Find factorial of a given number using recursion.***

In [ ]:
a=int(input("Enter the number to find factorial :"))
fact=1
while(a>0) :
  fact=fact*a
  a-=1
print("The facorial is :",fact)

Enter the number to find factorial :9
The facorial is : 362880

***7. Return multiple values from a function***

In [ ]:
def func() :
  a="Computaional"
  b="Statistics"
  return a,b
list=func()
print(list)

('Computaional', 'Statistics')

***9. Develop a python code to read a text file, copy the contents to another file after removing the blank lines.***

In [ ]:
with open('file.txt','w') as f:
    str=input("Enter data :")
    f.write(str)
f1=open('file.txt','r')
f2=open('file2.txt','w')
str=""
contents=f1.read()
data=contents.split()
for i in range(0,len(data)):
  print(data[i],end="")
a=str.join(data)
f2.write(a)
f1.close()
f2.close()

Enter data :rajagiri engineering college
rajagiriengineeringcollege

***10. Find the most frequent words in a text read from a file.***

In [ ]:
with open('file.txt', 'w') as f:
    str1=input("Enter data to be written into file: ")
    f.write(str1)
f=open('file.txt','r')
contents= f.read()
data=contents.split()
print(data)
countmax=0
word='null'
for i in range(0,len(data)):
    cnew=0
    for j in range(0,len(data)):
        if (data[i]==data[j]):
            cnew+=1
        if (cnew>countmax):
            countmax=cnew
            word=data[i]
f.close()
print("The most common word is :",word," It appears ",countmax,"times")

Enter data to be written into file: is is then is is no is
['is', 'is', 'then', 'is', 'is', 'no', 'is']
The most common word is : is .It appears  5 times

***8. A book shop maintains the inventory of books that are being sold at the shop. The list
includes details such as author, title, price, publisher and stock position. Whenever a customer
wants a book, the sales person inputs the title and author and the system searches the list and
displays whether it is available or not. If it is not, an appropriate message is displayed. If it is, then
the system displays the book details and requests for the number of copies required. If the
requested copies are available, the total cost of the requested copies is displayed; otherwise
“Required copies not in stock” is displayed.***

In [ ]:
class book:
    def __init__(self,title,author,price,publisher,stock):
        self.title=title
        self.author=author
        self.price=price
        self.publisher=publisher
        self.stock=stock
list1=[]
while True:
  print("\n******* BOOK SHOP *******")
  print("\n\t1. Input book\n\t2. Rent book\n\t3. Display books\n\t4. Exit")
  print("*************************\n")
  flag=0
  ch=int(input("Enter your choice :"))
  if(ch==1):
        title=input("Enter book title :")
        author=input("Enter author name:")
        price=float(input("Enter price:"))
        publisher=input("Enter publisher:")
        stock=int(input("Enter stock :"))
        obj = book(title,author,price,publisher,stock)
        newl=[author,title,price,publisher,stock]
        list1.append(newl)
  elif (ch==2):
        stitle=input("Enter book title: ")
        for i in range (0,len(list1)):
            if (list1[i][1]==stitle):
                flag=1
                print(stitle," is available")
                print("The available stock is :",list1[i][4])
                n=int(input("Enter the number of books required :"))
                if (n<=list1[i][4]):
                    print('Books(s) have been dispatched')
                    print('Total price =',(n*list1[i][2]))
                    list1[i][4]=list1[i][4]-n
                else:
                    print("Required amount exceeds in stock")
        if(flag==0):
            print("Book unavailable")
  elif(ch==3) :
      print(list1)
  elif(ch==4) :
    print("Thank you !!!")
    break
  else:
        print("Invalid option")

******* BOOK SHOP *******

	1. Input book
	2. Rent book
	3. Display books
	4. Exit
*************************

Enter your choice :1
Enter book title :Diary of a wimpy kid
Enter author name:Jeff Kenny
Enter price:500
Enter publisher:Penguin
Enter stock :20

******* BOOK SHOP *******

	1. Input book
	2. Rent book
	3. Display books
	4. Exit
*************************

Enter your choice :1
Enter book title :Magnus Chase
Enter author name:Rick Riordan
Enter price:500
Enter publisher:Penguin
Enter stock :25

******* BOOK SHOP *******

	1. Input book
	2. Rent book
	3. Display books
	4. Exit
*************************

Enter your choice :2
Enter book title: Magnus Chase
Magnus Chase  is available
The available stock is : 25
Enter the number of books required :5
Books(s) have been dispatched
Total price = 2500.0

******* BOOK SHOP *******

	1. Input book
	2. Rent book
	3. Display books
	4. Exit
*************************

Enter your choice :3
[['Jeff Kenny', 'Diary of a wimpy kid', 500.0, 'Penguin', 20], ['Rick Riordan', 'Magnus Chase', 500.0, 'Penguin', 20]]

******* BOOK SHOP *******

	1. Input book
	2. Rent book
	3. Display books
	4. Exit
*************************

Enter your choice :4
Thank you !!!